<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon.png' %}">
    <!-- Pignose Calender -->
    <link href="{%static 'plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{%static  'plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{%static 'plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <!-- Custom Stylesheet -->
    <link href="{%static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

   
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="{%static 'images/logo.png' %}" alt=""> </b>
                    <span class="logo-compact"><img src="{%static 'images/logo-compact.png' %}" alt=""></span>
                    <span class="brand-title">
                        <img src="{% static 'images/logo-text.png' %}" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-email-outline"></i>
                                <span class="badge badge-pill gradient-1">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">3 New Messages</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-1">3</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="{% static 'images/avatar/1.jpg' %}" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Saiful Islam</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="{% static 'images/avatar/2.jpg' %}" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Adam Smith</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Can you do me a favour?</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="{% static 'images/avatar/3.jpg' %}" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Barak Obama</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hi Teddy, Just wanted to let you ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <img class="float-left mr-3 avatar-img" src="{% static 'images/avatar/4.jpg' %}" alt="">
                                                <div class="notification-content">
                                                    <div class="notification-heading">Hilari Clinton</div>
                                                    <div class="notification-timestamp">08 Hours ago</div>
                                                    <div class="notification-text">Hello</div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown"><a href="javascript:void(0)" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                                <span class="badge badge-pill gradient-2">3</span>
                            </a>
                            <div class="drop-down animated fadeIn dropdown-menu dropdown-notfication">
                                <div class="dropdown-content-heading d-flex justify-content-between">
                                    <span class="">2 New Notifications</span>  
                                    <a href="javascript:void()" class="d-inline-block">
                                        <span class="badge badge-pill gradient-2">5</span>
                                    </a>
                                </div>
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events near you</h6>
                                                    <span class="notification-text">Within next 5 days</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Started</h6>
                                                    <span class="notification-text">One hour ago</span> 
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-success-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Event Ended Successfully</h6>
                                                    <span class="notification-text">One hour ago</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <span class="mr-3 avatar-icon bg-danger-lighten-2"><i class="icon-present"></i></span>
                                                <div class="notification-content">
                                                    <h6 class="notification-heading">Events to Join</h6>
                                                    <span class="notification-text">After two days</span> 
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown d-none d-md-flex">
                            <a href="javascript:void(0)" class="log-user"  data-toggle="dropdown">
                                <span>English</span>  <i class="fa fa-angle-down f-s-14" aria-hidden="true"></i>
                            </a>
                            <div class="drop-down dropdown-language animated fadeIn  dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li><a href="javascript:void()">English</a></li>
                                        <li><a href="javascript:void()">Dutch</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{% static 'images/user/1.png' %}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="app-profile.html"><i class="icon-user"></i> <span>Profile</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void()">
                                                <i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill gradient-1">3</div>
                                            </a>
                                        </li>
                                        
                                        <hr class="my-2">
                                        <li>
                                            <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                                        </li>
                                        <li><a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">Dashboard</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./index.html">Home 1</a></li>
                            <!-- <li><a href="./index-2.html">Home 2</a></li> -->
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">Layouts</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./layout-blank.html">Blank</a></li>
                            <li><a href="./layout-one-column.html">One Column</a></li>
                            <li><a href="./layout-two-column.html">Two column</a></li>
                            <li><a href="./layout-compact-nav.html">Compact Nav</a></li>
                            <li><a href="./layout-vertical.html">Vertical</a></li>
                            <li><a href="./layout-horizontal.html">Horizontal</a></li>
                            <li><a href="./layout-boxed.html">Boxed</a></li>
                            <li><a href="./layout-wide.html">Wide</a></li>
                            
                            
                            <li><a href="./layout-fixed-header.html">Fixed Header</a></li>
                            <li><a href="layout-fixed-sidebar.html">Fixed Sidebar</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Apps</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-envelope menu-icon"></i> <span class="nav-text">Email</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./email-inbox.html">Inbox</a></li>
                            <li><a href="./email-read.html">Read</a></li>
                            <li><a href="./email-compose.html">Compose</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Apps</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./app-profile.html">Profile</a></li>
                            <li><a href="./app-calender.html">Calender</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-graph menu-icon"></i> <span class="nav-text">Charts</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./chart-flot.html">Flot</a></li>
                            <li><a href="./chart-morris.html">Morris</a></li>
                            <li><a href="./chart-chartjs.html">Chartjs</a></li>
                            <li><a href="./chart-chartist.html">Chartist</a></li>
                            <li><a href="./chart-sparkline.html">Sparkline</a></li>
                            <li><a href="./chart-peity.html">Peity</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">UI Components</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">UI Components</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./ui-accordion.html">Accordion</a></li>
                            <li><a href="./ui-alert.html">Alert</a></li>
                            <li><a href="./ui-badge.html">Badge</a></li>
                            <li><a href="./ui-button.html">Button</a></li>
                            <li><a href="./ui-button-group.html">Button Group</a></li>
                            <li><a href="./ui-cards.html">Cards</a></li>
                            <li><a href="./ui-carousel.html">Carousel</a></li>
                            <li><a href="./ui-dropdown.html">Dropdown</a></li>
                            <li><a href="./ui-list-group.html">List Group</a></li>
                            <li><a href="./ui-media-object.html">Media Object</a></li>
                            <li><a href="./ui-modal.html">Modal</a></li>
                            <li><a href="./ui-pagination.html">Pagination</a></li>
                            <li><a href="./ui-popover.html">Popover</a></li>
                            <li><a href="./ui-progressbar.html">Progressbar</a></li>
                            <li><a href="./ui-tab.html">Tab</a></li>
                            <li><a href="./ui-typography.html">Typography</a></li>
                        <!-- </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-layers menu-icon"></i><span class="nav-text">Components</span>
                        </a>
                        <ul aria-expanded="false"> -->
                            <li><a href="./uc-nestedable.html">Nestedable</a></li>
                            <li><a href="./uc-noui-slider.html">Noui Slider</a></li>
                            <li><a href="./uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="./uc-toastr.html">Toastr</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="widgets.html" aria-expanded="false">
                            <i class="icon-badge menu-icon"></i><span class="nav-text">Widget</span>
                        </a>
                    </li>
                    <li class="nav-label">Forms</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./form-basic.html">Basic Form</a></li>
                            <li><a href="./form-validation.html">Form Validation</a></li>
                            <li><a href="./form-step.html">Step Form</a></li>
                            <li><a href="./form-editor.html">Editor</a></li>
                            <li><a href="./form-picker.html">Picker</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Table</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./table-basic.html" aria-expanded="false">Basic Table</a></li>
                            <li><a href="./table-datatable.html" aria-expanded="false">Data Table</a></li>
                        </ul>
                    </li>
                    <li class="nav-label">Pages</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="./page-login.html">Login</a></li>
                            <li><a href="./page-register.html">Register</a></li>
                            <li><a href="./page-lock.html">Lock Screen</a></li>
                            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                                <ul aria-expanded="false">
                                    <li><a href="./page-error-404.html">Error 404</a></li>
                                    <li><a href="./page-error-403.html">Error 403</a></li>
                                    <li><a href="./page-error-400.html">Error 400</a></li>
                                    <li><a href="./page-error-500.html">Error 500</a></li>
                                    <li><a href="./page-error-503.html">Error 503</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row-initial">
                    <div class="col-lg-3 col-sm-6 col">
                        <div class="card gradient-1">
                            <div class="card-body">
                                <h3 class="card-title text-white">Confirmed</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">4565</h2>
<!--                                    <p class="text-white mb-0">Jan - March 2019</p>-->
                                </div>
<!--                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Active</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"> 8541</h2>
<!--                                    <p class="text-white mb-0">Jan - March 2019</p>-->
                                </div>
<!--                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Recovered</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">4565</h2>
<!--                                    <p class="text-white mb-0">Jan - March 2019</p>-->
                                </div>
<!--                                <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col">
                        <div class="card gradient-4">
                            <div class="card-body">
                                <h3 class="card-title text-white">Deaths</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white">99</h2>
<!--                                    <p class="text-white mb-0">Jan - March 2019</p>-->
                                </div>
<!--                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    
                       <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Active Vs Recovered interpolation</h4>
                                <div id="line-smoothing" class="ct-chart ct-golden-section"></div>
                            </div>
                             <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="w-100 mr-2">
                                                <h6>Pixel 2</h6>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-danger" style="width: 40%"></div>
                                                </div>
                                            </div>
                                            <div class="ml-2 w-100">
                                                <h6>iPhone X</h6>
                                                <div class="progress" style="height: 6px">
                                                    <div class="progress-bar bg-primary" style="width: 80%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                     <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Active Vs Recovered bar</h4>
                                <div id="overlapping-bars" class="ct-chart-overlapp ct-golden-section"></div>
                            </div>
                        </div>
                    </div>
                    
                  
                    
                    
                    
                </div>

                

                <div class="row">
                         <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">StateWise</h4>
                                <div id="horizontal-bar-chart" class="ct-chart ct-golden-section"></div>
                            </div>
                        </div>
                    </div>  
                        <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Responsive Table</h4>
                                <div class="table-responsive">
                                    <table class="table header-border">
                                        <thead>
                                            <tr>
                                                <th>State(or)UT</th>
                                                <th>Confirmed</th>
                                                <th>Active</th>
                                                <th>Recovered</th>
                                                
                                                <th>Deaths</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="javascript:void(0)">Order #26589</a>
                                                </td>
                                                <td>Herman Beck</td>
                                                <td><span class="text-muted">Oct 16, 2017</span>
                                                </td>
                                                <td>$45.00</td>
                                                
                                                <td>EN</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void(0)">Order #58746</a>
                                                </td>
                                                <td>Mary Adams</td>
                                                <td><span class="text-muted">Oct 12, 2017</span>
                                                </td>
                                                <td>$245.30</td>
                                                
                                                <td>CN</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void(0)">Order #98458</a>
                                                </td>
                                                <td>Caleb Richards</td>
                                                <td><span class="text-muted">May 18, 2017</span>
                                                </td>
                                                <td>$38.00</td>
                                                
                                                <td>AU</td>
                                            </tr>
                                            <tr>
                                                <td><a href="javascript:void(0)">Order #32658</a>
                                                </td>
                                                <td>June Lane</td>
                                                <td><span class="text-muted">Apr 28, 2017</span>
                                                </td>
                                                <td>$77.99</td>
                                                
                                                <td>FR</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    </div>
                
                

                

                

                

              
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="#">Manu</a> 2020</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
	
{%load static%}
    <script src="{% static 'plugins/common/common.min.js' %}"></script>
	
    <script src= "{% static 'js/custom.min.js' %}"></script>
    <script src= "{% static 'js/settings.js' %}"></script>
    <script src= "{% static 'js/gleek.js' %}"></script>
    <script src= "{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Chartjs -->
    <script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}" ></script>
    <!-- Circle progress -->
    <script src="{%static 'plugins/circle-progress/circle-progress.min.js' %}"></script>
    <!-- Datamap -->
    <script src="{% static 'plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'plugins/datamaps/datamaps.world.min.js' %}"></script>
    <!-- Morrisjs -->
    <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
    <!-- Pignose Calender -->
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <!-- ChartistJS -->
    <script src="{% static 'plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>



    <script src="{% static 'js/dashboard/dashboard-1.js' %}"></script>
    
 <script src="{% static 'plugins/chartist/js/chartist.min.js' %}"></script>
    
<script src="{% static 'plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

    
<script>
{% block jquery %}
var endpoint ="/get_data/"
var data = []
var label =[]
$.ajax({
	method: "GET",
	url: endpoint,
	success: function(state_data){
		label =state_data.label
		data=state_data.data
		setChart()
		  
	}
})


var chart = new Chartist.Line('#smil-animations', {
labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
series: [
  [12, 9, 7, 8, 5, 4, 6, 2, 3, 3, 4, 6],
  [4,  5, 3, 7, 3, 5, 5, 3, 4, 4, 5, 5],
  [5,  3, 4, 5, 6, 3, 3, 4, 5, 6, 3, 4],
  [3,  4, 5, 6, 7, 6, 4, 5, 6, 7, 6, 3]
]
}, {
low: 0,
plugins: [
  Chartist.plugins.tooltip()
]
});

// Let's put a sequence number aside so we can use it in the event callbacks
var seq = 0,
delays = 80,
durations = 500;

// Once the chart is fully created we reset the sequence
chart.on('created', function() {
seq = 0;
});

// On each drawn element by Chartist we use the Chartist.Svg API to trigger SMIL animations
chart.on('draw', function(data) {
seq++;

if(data.type === 'line') {
  // If the drawn element is a line we do a simple opacity fade in. This could also be achieved using CSS3 animations.
  data.element.animate({
	opacity: {
	  // The delay when we like to start the animation
	  begin: seq * delays + 1000,
	  // Duration of the animation
	  dur: durations,
	  // The value where the animation should start
	  from: 0,
	  // The value where it should end
	  to: 1
	}
  });
} else if(data.type === 'label' && data.axis === 'x') {
  data.element.animate({
	y: {
	  begin: seq * delays,
	  dur: durations,
	  from: data.y + 100,
	  to: data.y,
	  // We can specify an easing function from Chartist.Svg.Easing
	  easing: 'easeOutQuart'
	}
  });
} else if(data.type === 'label' && data.axis === 'y') {
  data.element.animate({
	x: {
	  begin: seq * delays,
	  dur: durations,
	  from: data.x - 100,
	  to: data.x,
	  easing: 'easeOutQuart'
	}
  });
} else if(data.type === 'point') {
  data.element.animate({
	x1: {
	  begin: seq * delays,
	  dur: durations,
	  from: data.x - 10,
	  to: data.x,
	  easing: 'easeOutQuart'
	},
	x2: {
	  begin: seq * delays,
	  dur: durations,
	  from: data.x - 10,
	  to: data.x,
	  easing: 'easeOutQuart'
	},
	opacity: {
	  begin: seq * delays,
	  dur: durations,
	  from: 0,
	  to: 1,
	  easing: 'easeOutQuart'
	}
  });
} else if(data.type === 'grid') {
  // Using data.axis we get x or y which we can use to construct our animation definition objects
  var pos1Animation = {
	begin: seq * delays,
	dur: durations,
	from: data[data.axis.units.pos + '1'] - 30,
	to: data[data.axis.units.pos + '1'],
	easing: 'easeOutQuart'
  };

  var pos2Animation = {
	begin: seq * delays,
	dur: durations,
	from: data[data.axis.units.pos + '2'] - 100,
	to: data[data.axis.units.pos + '2'],
	easing: 'easeOutQuart'
  };

  var animations = {};
  animations[data.axis.units.pos + '1'] = pos1Animation;
  animations[data.axis.units.pos + '2'] = pos2Animation;
  animations['opacity'] = {
	begin: seq * delays,
	dur: durations,
	from: 0,
	to: 1,
	easing: 'easeOutQuart'
  };

  data.element.animate(animations);
}
});

// For the sake of the example we update the chart every time it's created with a delay of 10 seconds
chart.on('created', function() {
if(window.__exampleAnimateTimeout) {
  clearTimeout(window.__exampleAnimateTimeout);
  window.__exampleAnimateTimeout = null;
}
window.__exampleAnimateTimeout = setTimeout(chart.update.bind(chart), 12000);
});



//Simple line chart
new Chartist.Line('#simple-line-chart', {
labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
series: [
  [12, 9, 7, 8, 5],
  [2, 1, 3.5, 7, 3]
]
}, {
fullWidth: true,
chartPadding: {
  right: 40
},
plugins: [
  Chartist.plugins.tooltip()
]
});




//Line Scatter Diagram
var times = function(n) {
return Array.apply(null, new Array(n));
};

var data = times(52).map(Math.random).reduce(function(data, rnd, index) {
data.labels.push(index + 1);
data.series.forEach(function(series) {
  series.push(Math.random() * 100)
});

return data;
}, {
labels: [],
series: times(4).map(function() { return new Array() })
});

var options = {
showLine: false,
axisX: {
  labelInterpolationFnc: function(value, index) {
	return index % 13 === 0 ? 'W' + value : null;
  }
}
};

var responsiveOptions = [
['screen and (min-width: 640px)', {
  axisX: {
	labelInterpolationFnc: function(value, index) {
	  return index % 4 === 0 ? 'W' + value : null;
	}
  }
}]
];

new Chartist.Line('#scatter-diagram', data, options, responsiveOptions);





//Line chart with tooltips

new Chartist.Line('#line-chart-tooltips', {
labels: ['1', '2', '3', '4', '5', '6'],
series: [
  {
	name: 'Fibonacci sequence',
	data: [1, 2, 3, 5, 8, 13]
  },
  {
	name: 'Golden section',
	data: [1, 1.618, 2.618, 4.236, 6.854, 11.09]
  }
]
},
  {
plugins: [
  Chartist.plugins.tooltip()
]
}
);

var $chart = $('#line-chart-tooltips');

var $toolTip = $chart
.append('<div class="tooltip"></div>')
.find('.tooltip')
.hide();

$chart.on('mouseenter', '.ct-point', function() {
var $point = $(this),
  value = $point.attr('ct:value'),
  seriesName = $point.parent().attr('ct:series-name');
$toolTip.html(seriesName + '<br>' + value).show();
});

$chart.on('mouseleave', '.ct-point', function() {
$toolTip.hide();
});

$chart.on('mousemove', function(event) {
$toolTip.css({
  left: (event.offsetX || event.originalEvent.layerX) - $toolTip.width() / 2 - 10,
  top: (event.offsetY || event.originalEvent.layerY) - $toolTip.height() - 40
});
});




//Line chart with area

new Chartist.Line('#chart-with-area', {
labels: [1, 2, 3, 4, 5, 6, 7, 8],
series: [
  [5, 9, 7, 8, 5, 3, 5, 4]
]
}, {
low: 0,
showArea: true,
plugins: [
  Chartist.plugins.tooltip()
]
});


//Bi-polar Line chart with area only

new Chartist.Line('#bi-polar-line', {
labels: [1, 2, 3, 4, 5, 6, 7, 8],
series: [
  [1, 2, 3, 1, -2, 0, 1, 0],
  [-2, -1, -2, -1, -2.5, -1, -2, -1],
  [0, 0, 0, 1, 2, 2.5, 2, 1],
  [2.5, 2, 1, 0.5, 1, 0.5, -1, -2.5]
]
}, {
high: 3,
low: -3,
showArea: true,
showLine: false,
showPoint: false,
fullWidth: true,
axisX: {
  showLabel: false,
  showGrid: false
},
plugins: [
  Chartist.plugins.tooltip()
]
});





//SVG Path animation

var chart = new Chartist.Line('#svg-animation', {
labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
series: [
  [1, 5, 2, 5, 4, 3],
  [2, 3, 4, 8, 1, 2],
  [5, 4, 3, 2, 1, 0.5]
]
}, {
low: 0,
showArea: true,
showPoint: false,
fullWidth: true
});

chart.on('draw', function(data) {
if(data.type === 'line' || data.type === 'area') {
  data.element.animate({
	d: {
	  begin: 2000 * data.index,
	  dur: 2000,
	  from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
	  to: data.path.clone().stringify(),
	  easing: Chartist.Svg.Easing.easeOutQuint
	}
  });
}
});





//Line Interpolation / Smoothing

var chart = new Chartist.Line('#line-smoothing', {
labels: [1, 2, 3, 4, 5],
series: [
  [1, 5, 10, 0, 1],
  [10, 15, 0, 1, 2]
]
}, {
// Remove this configuration to see that chart rendered with cardinal spline interpolation
// Sometimes, on large jumps in data values, it's better to use simple smoothing.
lineSmooth: Chartist.Interpolation.simple({
  divisor: 2
}),
fullWidth: true,
chartPadding: {
  right: 20
},
low: 0,
plugins: [
  Chartist.plugins.tooltip()
]
});





//Bi-polar bar chart

var data = {
labels: ['W1', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W8', 'W9', 'W10'],
series: [
  [1, 2, 4, 8, 6, -2, -1, -4, -6, -2]
]
};

var options = {
high: 10,
low: -10,
axisX: {
  labelInterpolationFnc: function(value, index) {
	return index % 2 === 0 ? value : null;
  }
},
plugins: [
  Chartist.plugins.tooltip()
]
};

new Chartist.Bar('#bi-polar-bar', data, options);




//Overlapping bars on mobile

var data = {
labels: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
series: [
  [5, 4, 3, 7, 5, 10, 3, 4, 8, 10, 6, 8],
  [3, 2, 9, 5, 4, 6, 4, 6, 7, 8, 7, 4]
]
};

var options = {
seriesBarDistance: 10
};

var responsiveOptions = [
['screen and (max-width: 640px)', {
  seriesBarDistance: 5,
  axisX: {
	labelInterpolationFnc: function (value) {
	  return value[0];
	}
  }
}]
];

new Chartist.Bar('#overlapping-bars', data, options, responsiveOptions);





//Multi-line labels

new Chartist.Bar('#multi-line-chart', {
labels: ['First quarter of the year', 'Second quarter of the year', 'Third quarter of the year', 'Fourth quarter of the year'],
series: [
  [60000, 40000, 80000, 70000],
  [40000, 30000, 70000, 65000],
  [8000, 3000, 10000, 6000]
]
}, {
seriesBarDistance: 10,
axisX: {
  offset: 60
},
axisY: {
  offset: 80,
  labelInterpolationFnc: function(value) {
	return value + ' CHF'
  },
  scaleMinSpace: 15
},
plugins: [
  Chartist.plugins.tooltip()
]
});




//Stacked bar chart

new Chartist.Bar('#stacked-bar-chart', {
labels: ['Q1', 'Q2', 'Q3', 'Q4'],
series: [
  [800000, 1200000, 1400000, 1300000],
  [200000, 400000, 500000, 300000],
  [160000, 290000, 410000, 600000]
]
}, {
stackBars: true,
axisY: {
  labelInterpolationFnc: function(value) {
	return (value / 1000) + 'k';
  }
},
plugins: [
  Chartist.plugins.tooltip()
]
}).on('draw', function(data) {
if(data.type === 'bar') {
  data.element.attr({
	style: 'stroke-width: 30px'
  });
}
});




function setChart(){

//Horizontal bar chart

new Chartist.Bar('#horizontal-bar-chart', {
labels: label,
series: data
}, {
seriesBarDistance: 10,
reverseData: true,
horizontalBars: true,
axisY: {
  offset: 70
},
plugins: [
  Chartist.plugins.tooltip()
]
});

}



// Extreme responsive configuration

new Chartist.Bar('#extreme-chart', {
labels: ['Quarter 1', 'Quarter 2', 'Quarter 3', 'Quarter 4'],
series: [
  [5, 4, 3, 7],
  [3, 2, 9, 5],
  [1, 5, 8, 4],
  [2, 3, 4, 6],
  [4, 1, 2, 1]
]
}, {
// Default mobile configuration
stackBars: true,
axisX: {
  labelInterpolationFnc: function(value) {
	return value.split(/\s+/).map(function(word) {
	  return word[0];
	}).join('');
  }
},
axisY: {
  offset: 20
},
plugins: [
  Chartist.plugins.tooltip()
]
}, [
// Options override for media > 400px
['screen and (min-width: 400px)', {
  reverseData: true,
  horizontalBars: true,
  axisX: {
	labelInterpolationFnc: Chartist.noop
  },
  axisY: {
	offset: 60
  }
}],
// Options override for media > 800px
['screen and (min-width: 800px)', {
  stackBars: false,
  seriesBarDistance: 10
}],
// Options override for media > 1000px
['screen and (min-width: 1000px)', {
  reverseData: false,
  horizontalBars: false,
  seriesBarDistance: 15
}]
]);




//Distributed series

new Chartist.Bar('#distributed-series', {
labels: ['XS', 'S', 'M', 'L', 'XL', 'XXL', 'XXXL'],
series: [20, 60, 120, 200, 180, 20, 10]
}, {
distributeSeries: true,
plugins: [
  Chartist.plugins.tooltip()
]
});



//Label placement

new Chartist.Bar('#label-placement-chart', {
labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
series: [
  [5, 4, 3, 7, 5, 10, 3],
  [3, 2, 9, 5, 4, 6, 4]
]
}, {
axisX: {
  // On the x-axis start means top and end means bottom
  position: 'start'
},
axisY: {
  // On the y-axis start means left and end means right
  position: 'end'
},
plugins: [
  Chartist.plugins.tooltip()
]
});




//Animating a Donut with Svg.animate

var chart = new Chartist.Pie('#animating-donut', {
series: [10, 20, 50, 20, 5, 50, 15],
labels: [1, 2, 3, 4, 5, 6, 7]
}, {
donut: true,
showLabel: false,
plugins: [
  Chartist.plugins.tooltip()
]
});

chart.on('draw', function(data) {
if(data.type === 'slice') {
  // Get the total path length in order to use for dash array animation
  var pathLength = data.element._node.getTotalLength();

  // Set a dasharray that matches the path length as prerequisite to animate dashoffset
  data.element.attr({
	'stroke-dasharray': pathLength + 'px ' + pathLength + 'px'
  });

  // Create animation definition while also assigning an ID to the animation for later sync usage
  var animationDefinition = {
	'stroke-dashoffset': {
	  id: 'anim' + data.index,
	  dur: 1000,
	  from: -pathLength + 'px',
	  to:  '0px',
	  easing: Chartist.Svg.Easing.easeOutQuint,
	  // We need to use `fill: 'freeze'` otherwise our animation will fall back to initial (not visible)
	  fill: 'freeze'
	}
  };

  // If this was not the first slice, we need to time the animation so that it uses the end sync event of the previous animation
  if(data.index !== 0) {
	animationDefinition['stroke-dashoffset'].begin = 'anim' + (data.index - 1) + '.end';
  }

  // We need to set an initial value before the animation starts as we are not in guided mode which would do that for us
  data.element.attr({
	'stroke-dashoffset': -pathLength + 'px'
  });

  // We can't use guided mode as the animations need to rely on setting begin manually
  // See http://gionkunz.github.io/chartist-js/api-documentation.html#chartistsvg-function-animate
  data.element.animate(animationDefinition, false);
}
});

// For the sake of the example we update the chart every time it's created with a delay of 8 seconds
chart.on('created', function() {
if(window.__anim21278907124) {
  clearTimeout(window.__anim21278907124);
  window.__anim21278907124 = null;
}
window.__anim21278907124 = setTimeout(chart.update.bind(chart), 10000);
});




//Simple pie chart

var data = {
series: [5, 3, 4]
};

var sum = function(a, b) { return a + b };

new Chartist.Pie('#simple-pie', data, {
labelInterpolationFnc: function(value) {
  return Math.round(value / data.series.reduce(sum) * 100) + '%';
}
});




//Pie chart with custom labels

var data = {
labels: ['Bananas', 'Apples', 'Grapes'],
series: [20, 15, 40]
};

var options = {
labelInterpolationFnc: function(value) {
  return value[0]
}
};

var responsiveOptions = [
['screen and (min-width: 640px)', {
  chartPadding: 30,
  labelOffset: 100,
  labelDirection: 'explode',
  labelInterpolationFnc: function(value) {
	return value;
  }
}],
['screen and (min-width: 1024px)', {
  labelOffset: 80,
  chartPadding: 20
}]
];

new Chartist.Pie('#pie-chart', data, options, responsiveOptions);



//Gauge chart

new Chartist.Pie('#gauge-chart', {
series: [20, 10, 30, 40]
}, {
donut: true,
donutWidth: 60,
startAngle: 270,
total: 200,
showLabel: false,
plugins: [
  Chartist.plugins.tooltip()
]
});





// Different configuration for different series

var chart = new Chartist.Line('#different-series', {
labels: ['1', '2', '3', '4', '5', '6', '7', '8'],
// Naming the series with the series object array notation
series: [{
  name: 'series-1',
  data: [5, 2, -4, 2, 0, -2, 5, -3]
}, {
  name: 'series-2',
  data: [4, 3, 5, 3, 1, 3, 6, 4]
}, {
  name: 'series-3',
  data: [2, 4, 3, 1, 4, 5, 3, 2]
}]
}, {
fullWidth: true,
// Within the series options you can use the series names
// to specify configuration that will only be used for the
// specific series.
series: {
  'series-1': {
	lineSmooth: Chartist.Interpolation.step()
  },
  'series-2': {
	lineSmooth: Chartist.Interpolation.simple(),
	showArea: true
  },
  'series-3': {
	showPoint: false
  }
},
plugins: [
  Chartist.plugins.tooltip()
]
}, [
// You can even use responsive configuration overrides to
// customize your series configuration even further!
['screen and (max-width: 320px)', {
  series: {
	'series-1': {
	  lineSmooth: Chartist.Interpolation.none()
	},
	'series-2': {
	  lineSmooth: Chartist.Interpolation.none(),
	  showArea: false
	},
	'series-3': {
	  lineSmooth: Chartist.Interpolation.none(),
	  showPoint: true
	}
  }
}]
]);




//SVG Animations chart

var chart = new Chartist.Line('#svg-dot-animation', {
labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
series: [
  [12, 4, 2, 8, 5, 4, 6, 2, 3, 3, 4, 6],
  [4, 8, 9, 3, 7, 2, 10, 5, 8, 1, 7, 10]
]
}, {
low: 0,
showLine: false,
axisX: {
  showLabel: false,
  offset: 0
},
axisY: {
  showLabel: false,
  offset: 0
},
plugins: [
  Chartist.plugins.tooltip()
]
});

// Let's put a sequence number aside so we can use it in the event callbacks
var seq = 0;

// Once the chart is fully created we reset the sequence
chart.on('created', function() {
seq = 0;
});

// On each drawn element by Chartist we use the Chartist.Svg API to trigger SMIL animations
chart.on('draw', function(data) {
if(data.type === 'point') {
  // If the drawn element is a line we do a simple opacity fade in. This could also be achieved using CSS3 animations.
  data.element.animate({
	opacity: {
	  // The delay when we like to start the animation
	  begin: seq++ * 80,
	  // Duration of the animation
	  dur: 500,
	  // The value where the animation should start
	  from: 0,
	  // The value where it should end
	  to: 1
	},
	x1: {
	  begin: seq++ * 80,
	  dur: 500,
	  from: data.x - 100,
	  to: data.x,
	  // You can specify an easing function name or use easing functions from Chartist.Svg.Easing directly
	  easing: Chartist.Svg.Easing.easeOutQuart
	}
  });
}
});

// For the sake of the example we update the chart every time it's created with a delay of 8 seconds
chart.on('created', function() {
if(window.__anim0987432598723) {
  clearTimeout(window.__anim0987432598723);
  window.__anim0987432598723 = null;
}
window.__anim0987432598723 = setTimeout(chart.update.bind(chart), 8000);
});








{% endblock %}
</script>




</body>

</html>